<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav><a href="/">All Assignments</a> | <a href="/create">Create</a> | <a href="/search">Search</a></nav>

    {{{body}}}
  </body>
</html>
